.course-card {
  max-width: 300px;
  height: 396px;
  display: block;
  margin: 3rem;


  .header {
    margin: 0rem 1.3rem;
    position: relative;

    .course-image {
      width: 100%;
      border-radius: 10px;
      max-height: 145px
    }

    .discount {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #e91e63;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
    }

    .cart-icon-button {
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
    }
  }

  .content {

    .course-title{
      cursor: pointer;
    }

    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .author {
      font-size: 0.9rem;
      color: gray;
    }

    .rating {
      display: flex;
      align-items: center;

      .pi-star {
        color: gold;
        margin-right: 2px;
      }
    }

    .details {
      font-size: 0.9rem;
      color: #666;
      margin: 0;
    }
  }

  .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
    max-height: 145px;
  }

}

::ng-deep {
  .p-card-header {
    padding-top: 1.3rem;
  }

  .p-card-content {
    padding: 0
  }

 .course-card{
     min-height: 396px;

  }
p-card .p-component{
  height: 100%;
}

  
}

