.footer {
    background-color: #1E293B;
    width: 100%;
    color: #CBD5E1;

    
        padding: 20px;
        margin-top: auto; /* Push it down */
      
      

    &__container {
        margin: 2rem;
        font-size: 14px;
        ul {
            list-style-type: none;
            padding: 0;
        }

        a {
            color: unset;
        }

    }
}