<footer class="footer">
    <div class="row footer__container">
        <div class="col-md-2">
            <img src="assets/images/logoLight.png" />
        </div>
        <div class="col-md-5 pr-5">
            <p>Empowering learners through accessible and engaging online education.</p>
            <p>
                Byway is a leading online learning platform dedicated to providing high-quality, flexible, and
                affordable educational experiences.
            </p>
        </div>
        <div class="col-md-2">
            <p class="font-weight-bold">Get Help</p>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Latest Articles</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <p class="font-weight-bold">Contact Us</p>
            <p>
                Address: 123 Main Street, AnyTown, CA 12345<br>
                Tel: +1 123 456 7890<br>
                Mail: <a href="mailto:bywayedu@webuild.in" class="text-light">bywayedu@webuild.in</a>
            </p>
            <img src="assets/images/socialmedia.png" />
        </div>
    </div>
</footer>