<header class="header">
    <div class="header__logo">
        <img src="assets/images/logo.png" alt="Logo" (click)="onLogoClick()" />
    </div>
    <div class="header__actionBtns">
        <span class="header__cart-container" (click)="goToCart()">
            <img src="assets/images/cartIcon.png" alt="cartIcon" />
            <span *ngIf="cartService.cartCount() > 0 " class="cart-badge">
                {{cartService.cartCount() }}
            </span>
        </span>
        <button class="btn btn-outline-primary">{{'LogIn'|translate}}</button>
        <button class="btn btn-primary">{{'LogOut'|translate}}</button>
    </div>
</header>