<p-card class="cart-item">
    <div class="cart-content">
      <div class="image-container">
        <img [src]="course.image" [alt]="course.title" />
        <span class="discount-badge" *ngIf="course.discount">- ${{ course.discount }}</span>
      </div>
      <div class="details">
        <h4 (click)="navigateToCourse(course)" class="course-title">
          {{ course.title }}
        </h4>
        <p class="author">By {{ course.author }}</p>
        <p class="course-info">
          {{ course.hours }} Total Hours. {{ course.lectures }} Lectures. {{ course.level }}
        </p>
        <a class="remove" (click)="removeFromCart(course.id)">Remove</a>
      </div>
      <div class="price">
        <strong>${{ course.price }}</strong>
      </div>
    </div>
  </p-card>
  